$primary-color: #007bff
$secondary-color: #f44336
$text-color: #333
$border-radius: 8px
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)

.marketsContainer
  padding: 20px 200px
  border-radius: $border-radius
  box-shadow: $box-shadow
  font-family: Arial, sans-serif
  overflow: hidden
  position: relative
  &::before
    content: ""
    background-image: url("../../Images/BackGroundHero.png")
    background-position: center
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0.03
    z-index: -5

  .otherMarkets
    .otherMarketsHeader
      margin-top: 40px
      font-size: 3rem
      color: white
      font-weight: 600px
      line-height: 4rem

    .otherMarketsTable
      .otherMarketsTableHeader
        display: grid
        grid-template-columns: repeat(6, 1fr)

        .otherMarketsTableParameters
          display: flex
          justify-content: center
          align-items: center

          .otherMarketsTableParametersText
            color: #808A9A

          .otherMarketsTableParametersImg
            height: 10px
            width: 10px
            margin-left: 5px

        .otherMarketsTableParameters:hover
          cursor: pointer

.marketsMidLine
  position: relative
  padding: 60px 0px
  background: radial-gradient(rgba(85, 113, 254, 0.020), rgba(85, 113, 254, 0.015), rgba(85, 113, 254, 0.010) , rgba(85, 113, 254, 0.005), rgba(85, 113, 254, 0) 72%)
.marketsMidLine::before
  content: ''
  position: absolute
  left: 0
  right: 0
  height: 3px
  background: linear-gradient(to right, transparent, #1E1F25, transparent)

.marketContainer
  background: radial-gradient(rgba(85, 113, 254, 0.082), rgba(85, 113, 254, 0.062), rgba(85, 113, 254, 0.048) , rgba(85, 113, 254, 0.032), rgba(85, 113, 254, 0) 72%)

@media (min-width: 1441px) and (max-width: 1550px)
@media (min-width: 1101px) and (max-width: 1440px)
  .marketsContainer
    padding: 20px 100px
    &::before

    .otherMarkets
      .otherMarketsHeader
        font-size: 2.4rem
        line-height: 3.2rem
      .otherMarketsTable
        .otherMarketsTableHeader
          .otherMarketsTableParameters
            .otherMarketsTableParametersText
            .otherMarketsTableParametersImg

  .marketsMidLine
    &::before

  .marketContainer
@media (min-width: 691px) and (max-width: 1100px)
  .marketsContainer
    padding: 20px 50px
    &::before
    .otherMarkets
      .otherMarketsHeader
        font-size: 2.2rem
        line-height: 2.4rem
      .otherMarketsTable
        .otherMarketsTableHeader
          .otherMarketsTableParameters
            .otherMarketsTableParametersText
            .otherMarketsTableParametersImg

  .marketsMidLine
    &::before

  .marketContainer
@media (min-width: 511px) and (max-width: 690px)
  .marketsContainer
    padding: 20px 50px
    &::before
    .otherMarkets
      .otherMarketsHeader
        font-size: 2rem
        line-height: 2.4rem
      .otherMarketsTable
        .otherMarketsTableHeader
          .otherMarketsTableParameters
            .otherMarketsTableParametersText
            .otherMarketsTableParametersImg

  .marketsMidLine
    &::before

  .marketContainer
@media (max-width: 510px)
  .marketsContainer
    padding: 20px 20px
    &::before
    .otherMarkets
      .otherMarketsHeader
        font-size: 2rem
        line-height: 2.4rem
      .otherMarketsTable
        .otherMarketsTableHeader
          .otherMarketsTableParameters
            .otherMarketsTableParametersText
            .otherMarketsTableParametersImg

  .marketsMidLine
    &::before

  .marketContainer
