$primary-color: #007bff
$secondary-color: #f44336
$text-color: #333
$border-radius: 8px
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)

.marketsContainer
  padding: 20px 200px
  border-radius: $border-radius
  box-shadow: $box-shadow
  font-family: Arial, sans-serif

  .topMarkets
    display: flex
    flex-direction: column
    justify-content: space-around
    margin-bottom: 30px
    border: 3px solid #1E1F25
    border-radius: 24px
    width: 700px
    margin: 20px auto
    padding: 25px
    position: relative
    box-shadow: 7px 5px 5px #101013

    .topMarketsContainer
      display: flex
      flex-direction: row
      justify-content: space-around
      padding-bottom: 10px

    .differencePriceContainer
      text-align: center
      margin: 20px 0
      font-size: 1.2rem

      .differencePrice
        color: #06B470

  .otherMarkets
    .otherMarketsHeader
      margin-top: 40px
      font-size: 3rem
      color: white
      font-weight: 600px
      line-height: 4rem

    .otherMarketsTable
      .otherMarketsTableHeader
        display: grid
        grid-template-columns: repeat(6, 1fr)

        .otherMarketsTableParameters
          display: flex
          justify-content: center
          align-items: center

          .otherMarketsTableParametersText
            color: #808A9A

          .otherMarketsTableParametersImg
            height: 10px
            width: 10px
            margin-left: 5px

.marketsMidLine
  position: relative
  padding: 60px 0px
  background: radial-gradient(rgba(85, 113, 254, 0.020), rgba(85, 113, 254, 0.015), rgba(85, 113, 254, 0.010) , rgba(85, 113, 254, 0.005), rgba(85, 113, 254, 0) 72%)
.marketsMidLine::before
  content: ''
  position: absolute
  left: 0
  right: 0
  height: 3px
  background: linear-gradient(to right, transparent, #1E1F25, transparent)

.marketContainer
  background: radial-gradient(rgba(85, 113, 254, 0.082), rgba(85, 113, 254, 0.062), rgba(85, 113, 254, 0.048) , rgba(85, 113, 254, 0.032), rgba(85, 113, 254, 0) 72%)
