.Button {
  color: white;
  transition: background-color 0.3s;
  z-index: 10;
}
.Button:hover {
  cursor: pointer;
}

.LinkButton {
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  text-align: center;
}
.LinkButton:hover {
  background-color: #0056b3;
}

.midLine {
  position: relative;
  padding: 30px 0px;
  height: 3px;
}
.midLine::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, transparent, #1E1F25, transparent);
}

.selectorDirectorContainer {
  display: flex;
  justify-content: center;
}
.selectorDirectorContainer .selectorDirectorBtn {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #1E1F25;
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
  transition: background-color 0.3s;
}
.selectorDirectorContainer .selectorDirectorBtn:hover {
  background-color: #024185;
}
.selectorDirectorContainer .selectorDirectorBtn:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.selectorDirectorContainer .selectorDirectorBtn:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.coinCardContainer {
  border: 2px solid #1E1F25;
  border-radius: 12px;
  padding: 20px 30px 30px 30px;
  width: 150px;
  background-color: #131517;
  display: flex;
  flex-direction: column;
  box-shadow: 7px 5px 5px #101013;
}
.coinCardContainer:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #1E1F25;
}
.coinCardContainer .coinCardRank {
  color: #007bff;
  font-size: 1.2rem;
  margin-right: auto;
}
.coinCardContainer .coinCardIconContainer {
  height: 96px;
  width: 96px;
  margin: auto auto;
  display: flex;
  background: radial-gradient(rgba(85, 113, 254, 0.1), rgba(85, 113, 254, 0.075), rgba(85, 113, 254, 0.05), rgba(85, 113, 254, 0.025), rgba(85, 113, 254, 0) 72%);
}
.coinCardContainer .coinCardIconContainer .coinCardIcon {
  height: 48px;
  width: 48px;
  margin: auto auto;
}
.coinCardContainer .coinCardNameContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.coinCardContainer .coinCardNameContainer .coinCardSymbol, .coinCardContainer .coinCardNameContainer .coinCardName {
  color: white;
  line-height: 1.2rem;
}
.coinCardContainer .coinCardNameContainer .coinCardSymbol {
  font-size: 1.2rem;
  margin: auto 0;
}
.coinCardContainer .coinCardNameContainer .coinCardName {
  margin-left: 10px;
  font-size: 1rem;
  border-left: 2px solid #fff;
  padding-left: 10px;
}
.coinCardContainer .coinCardPercentContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.coinCardContainer .coinCardPercentContainer .coinCardPercent {
  margin-left: 5px;
}
.coinCardContainer .coinCardPrice {
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.tableHeader {
  display: grid;
}
.tableHeader .tableHeaderParameters, .tableHeader .tableHeaderParametersSort {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableHeader .tableHeaderParameters .tableHeaderParametersText, .tableHeader .tableHeaderParametersSort .tableHeaderParametersText {
  color: #808A9A;
}
.tableHeader .tableHeaderParameters .tableHeaderParametersImg, .tableHeader .tableHeaderParametersSort .tableHeaderParametersImg {
  height: 10px;
  width: 10px;
  margin-left: 5px;
}
.tableHeader .tableHeaderParametersSort:hover {
  cursor: pointer;
}

.tableParameterContainer {
  display: grid;
  align-items: center;
  margin: 20px 0px;
  transition: 0.3s;
}
.tableParameterContainer:hover {
  cursor: pointer;
  background-color: #1E1F25;
}
.tableParameterContainer .tableParameterIcon {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
.tableParameterContainer .tableParameterText {
  margin: auto 0;
  color: #fff;
}
.tableParameterContainer .tableParameterUrl {
  color: #1B70F1;
  text-decoration: none;
}
.tableParameterContainer .tableParameterPercent {
  display: flex;
  justify-content: center;
}
.tableParameterContainer .tableParameterPercent .tableParameterPercentDescription {
  margin-right: 5px;
  color: #fff;
}
.tableParameterContainer .tableParameterPercent .tableParameterPercentGraph {
  margin-right: 5px;
}
.tableParameterContainer .tableParameterPercent .tableParameterPercentText {
  margin: auto 0;
}
.tableParameterContainer .tableParameterSymbolText {
  display: flex;
  justify-content: center;
}
.tableParameterContainer .tableParameterSymbolText .tableParameterText:first-child {
  margin-right: 5px;
  border-right: 1px solid white;
  padding-right: 5px;
}
.tableParameterContainer .tableParameterSymbolText .tableParameterText:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectorDirectorContainer {
  display: flex;
  justify-content: center;
}
.selectorDirectorContainer .selectorDirectorBtn {
  display: flex;
  align-items: center;
  padding: 8px 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #1E1F25;
  color: white;
  font-size: 1.1rem;
  line-height: 1.7rem;
  transition: background-color 0.3s;
}
.selectorDirectorContainer .selectorDirectorBtn:hover {
  background-color: #024185;
}
.selectorDirectorContainer .selectorDirectorBtn:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.selectorDirectorContainer .selectorDirectorBtn:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

@media (min-width: 691px) and (max-width: 1100px) {
  .coinCardContainer {
    border: 2px solid #1E1F25;
    border-radius: 12px;
    padding: 20px 30px 30px 30px;
    background-color: #131517;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 7px 5px 5px #101013;
  }
  .coinCardContainer:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: #1E1F25;
  }
  .coinCardContainer .coinCardLeft {
    display: flex;
    flex-direction: column;
  }
  .coinCardContainer .coinCardLeft .coinCardIconContainer {
    height: 96px;
    width: 96px;
    margin: auto auto;
    display: flex;
    background: radial-gradient(rgba(85, 113, 254, 0.1), rgba(85, 113, 254, 0.075), rgba(85, 113, 254, 0.05), rgba(85, 113, 254, 0.025), rgba(85, 113, 254, 0) 72%);
  }
  .coinCardContainer .coinCardLeft .coinCardIconContainer .coinCardIcon {
    height: 48px;
    width: 48px;
    margin: auto auto;
  }
  .coinCardContainer .coinCardLeft .coinCardSymbol {
    color: white;
    line-height: 1.2rem;
    font-size: 1.2rem;
    margin: auto 0;
  }
  .coinCardContainer .coinCardRight {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .coinCardContainer .coinCardRight .coinCardTop {
    display: flex;
    justify-content: space-between;
  }
  .coinCardContainer .coinCardRight .coinCardTop .coinCardNameContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .coinCardContainer .coinCardRight .coinCardTop .coinCardNameContainer .coinCardName {
    color: white;
    line-height: 1.2rem;
    margin-left: 10px;
    font-size: 1rem;
    border-left: 2px solid #fff;
    padding-left: 10px;
  }
  .coinCardContainer .coinCardRight .coinCardTop .coinCardPrice {
    margin-left: auto;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .coinCardContainer .coinCardRight .coinCardBottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  .coinCardContainer .coinCardRight .coinCardBottom .coinCardRank {
    color: #007bff;
    font-size: 1.2rem;
    margin-right: auto;
  }
  .coinCardContainer .coinCardRight .coinCardBottom .coinCardPercentContainer {
    display: flex;
    justify-content: center;
  }
  .coinCardContainer .coinCardRight .coinCardBottom .coinCardPercentContainer span {
    color: white;
  }
  .coinCardContainer .coinCardRight .coinCardBottom .coinCardPercentContainer .coinCardPercent {
    margin-left: 5px;
  }
  .tableHeaderSortContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 5;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect {
    position: relative;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect li, .tableHeaderSortContainer .tableHeaderSortSelect ul {
    list-style-type: none;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect {
    width: 150px;
    position: absolute;
    background-color: #131517;
    border-radius: 8px;
    padding: 5px;
    border: solid 1px rgba(65, 65, 65, 0.6588235294);
    text-align: center;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect .tableHeaderCustomSelected {
    color: #1B70F1;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect .dropdownList {
    color: white;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect .dropdownList .dropdownItem {
    margin-top: 5px;
    border-top: 1px solid transparent;
    padding-top: 3px;
    -o-border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.5411764706), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.5411764706), rgba(49, 49, 49, 0)) 1;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect .dropdownList .dropdownItem:hover {
    background-color: rgba(63, 63, 63, 0.5411764706);
  }
  .tableHeaderSortContainer .tableHeaderSortHeader {
    color: white;
    margin: auto 0;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  .tableParameterContainer {
    display: flex;
    margin: 20px 0px;
    padding: 15px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    -o-border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(65, 65, 65, 0.6588235294), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(65, 65, 65, 0.6588235294), rgba(49, 49, 49, 0)) 1;
  }
  .tableParameterContainer .tableParameterContainerRight {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    border-right: 1px solid transparent;
    -o-border-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.231372549), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.231372549), rgba(49, 49, 49, 0)) 1;
  }
  .tableParameterContainer .tableParameterContainerRight .tableParameterContainerTop {
    display: flex;
    justify-content: space-between;
  }
  .tableParameterContainer .tableParameterContainerRight .tableParameterContainerBottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .tableParameterPercent {
    display: flex;
  }
  .tableParameterPercent .tableParameterPercentDescription {
    margin-right: 5px;
    color: #fff;
  }
  .tableParameterPercent .tableParameterPercentGraph {
    margin-right: 5px;
  }
  .tableParameterPercent .tableParameterPercentText {
    margin: auto 0;
  }
  .tableParameterIcon {
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }
  .tableParameterText {
    margin: auto 0;
    color: #fff;
  }
  .tableParameterUrl {
    color: #1B70F1;
    text-decoration: none;
  }
  .tableParameterContainerLeft {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    -o-border-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.231372549), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.231372549), rgba(49, 49, 49, 0)) 1;
    margin-right: 20px;
  }
  .tableParameterContainerLeft .tableParameterIconText {
    width: 100px;
    background: radial-gradient(rgba(85, 113, 254, 0.178), rgba(85, 113, 254, 0.11), rgba(85, 113, 254, 0.062), rgba(85, 113, 254, 0.032), rgba(85, 113, 254, 0) 72%);
  }
  .tableParameterContainer:hover {
    background-color: rgba(41, 40, 40, 0.3960784314);
  }
  .tableParameterContainerUrl {
    text-decoration: none;
  }
  .selectorDirectorContainer {
    display: flex;
    justify-content: center;
  }
  .selectorDirectorContainer .selectorDirectorBtn {
    display: flex;
    align-items: center;
    padding: 8px 25px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #1E1F25;
    color: white;
    font-size: 1.1rem;
    line-height: 1.7rem;
    transition: background-color 0.3s;
  }
  .selectorDirectorContainer .selectorDirectorBtn .selectorDirectorBtnIcon {
    margin-left: 8px;
    width: 12px;
  }
  .selectorDirectorContainer .selectorDirectorBtn:hover {
    background-color: #024185;
  }
  .selectorDirectorContainer .selectorDirectorBtn:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .selectorDirectorContainer .selectorDirectorBtn:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
@media (min-width: 511px) and (max-width: 690px) {
  .tableHeaderSortContainer {
    display: flex;
    justify-content: start;
    align-content: center;
    margin-left: 20%;
    z-index: 5;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect {
    position: relative;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect li, .tableHeaderSortContainer .tableHeaderSortSelect ul {
    list-style-type: none;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect {
    width: 150px;
    position: absolute;
    background-color: #131517;
    border-radius: 8px;
    padding: 5px;
    border: solid 1px rgba(65, 65, 65, 0.6588235294);
    text-align: center;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect .tableHeaderCustomSelected {
    color: #1B70F1;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect .dropdownList {
    color: white;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect .dropdownList .dropdownItem {
    margin-top: 5px;
    border-top: 1px solid transparent;
    padding-top: 3px;
    -o-border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.5411764706), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.5411764706), rgba(49, 49, 49, 0)) 1;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect .dropdownList .dropdownItem:hover {
    background-color: rgba(63, 63, 63, 0.5411764706);
  }
  .tableHeaderSortContainer .tableHeaderSortHeader {
    color: white;
    margin: auto 0;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  .tableParameterContainer {
    display: flex;
    margin: 20px 0px;
    padding: 15px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    -o-border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(65, 65, 65, 0.6588235294), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(65, 65, 65, 0.6588235294), rgba(49, 49, 49, 0)) 1;
  }
  .tableParameterContainer .tableParameterContainerRight {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    border-right: 1px solid transparent;
    -o-border-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.231372549), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.231372549), rgba(49, 49, 49, 0)) 1;
  }
  .tableParameterContainer .tableParameterContainerRight .tableParameterContainerTop {
    display: flex;
    justify-content: space-between;
  }
  .tableParameterContainer .tableParameterContainerRight .tableParameterContainerBottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .tableParameterPercent {
    display: flex;
  }
  .tableParameterPercent .tableParameterPercentDescription {
    margin-right: 5px;
    color: #fff;
  }
  .tableParameterPercent .tableParameterPercentGraph {
    margin-right: 5px;
  }
  .tableParameterPercent .tableParameterPercentText {
    margin: auto 0;
  }
  .tableParameterIcon {
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }
  .tableParameterText {
    margin: auto 0;
    color: #fff;
  }
  .tableParameterUrl {
    color: #1B70F1;
    text-decoration: none;
  }
  .tableParameterContainerLeft {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    -o-border-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.231372549), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.231372549), rgba(49, 49, 49, 0)) 1;
    margin-right: 20px;
  }
  .tableParameterContainerLeft .tableParameterIconText {
    width: 100px;
    background: radial-gradient(rgba(85, 113, 254, 0.178), rgba(85, 113, 254, 0.11), rgba(85, 113, 254, 0.062), rgba(85, 113, 254, 0.032), rgba(85, 113, 254, 0) 72%);
  }
  .tableParameterContainer:hover {
    background-color: rgba(41, 40, 40, 0.3960784314);
  }
  .tableParameterContainerUrl {
    text-decoration: none;
  }
  .selectorDirectorContainer {
    display: flex;
    justify-content: center;
  }
  .selectorDirectorContainer .selectorDirectorBtn {
    display: flex;
    align-items: center;
    padding: 8px 25px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #1E1F25;
    color: white;
    font-size: 1.1rem;
    line-height: 1.7rem;
    transition: background-color 0.3s;
  }
  .selectorDirectorContainer .selectorDirectorBtn .selectorDirectorBtnIcon {
    margin-left: 8px;
    width: 12px;
  }
  .selectorDirectorContainer .selectorDirectorBtn:hover {
    background-color: #024185;
  }
  .selectorDirectorContainer .selectorDirectorBtn:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .selectorDirectorContainer .selectorDirectorBtn:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
@media (max-width: 510px) {
  .tableHeaderSortContainer {
    display: flex;
    justify-content: start;
    align-content: center;
    margin-left: 20%;
    z-index: 5;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect {
    position: relative;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect li, .tableHeaderSortContainer .tableHeaderSortSelect ul {
    list-style-type: none;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect {
    width: 150px;
    position: absolute;
    background-color: #131517;
    border-radius: 8px;
    padding: 5px;
    border: solid 1px rgba(65, 65, 65, 0.6588235294);
    text-align: center;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect .tableHeaderCustomSelected {
    color: #1B70F1;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect .dropdownList {
    color: white;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect .dropdownList .dropdownItem {
    margin-top: 5px;
    border-top: 1px solid transparent;
    padding-top: 3px;
    -o-border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.5411764706), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.5411764706), rgba(49, 49, 49, 0)) 1;
  }
  .tableHeaderSortContainer .tableHeaderSortSelect .tableHeaderCustomSelect .dropdownList .dropdownItem:hover {
    background-color: rgba(63, 63, 63, 0.5411764706);
  }
  .tableHeaderSortContainer .tableHeaderSortHeader {
    color: white;
    margin: auto 0;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  .tableParameterContainer {
    display: flex;
    margin: 20px 0px;
    padding: 15px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    -o-border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(65, 65, 65, 0.6588235294), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(65, 65, 65, 0.6588235294), rgba(49, 49, 49, 0)) 1;
  }
  .tableParameterContainer .tableParameterContainerRight {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    border-right: 1px solid transparent;
    -o-border-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.231372549), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.231372549), rgba(49, 49, 49, 0)) 1;
  }
  .tableParameterContainer .tableParameterContainerRight .tableParameterContainerTop {
    display: flex;
    justify-content: space-between;
  }
  .tableParameterContainer .tableParameterContainerRight .tableParameterContainerBottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .tableParameterPercent {
    display: flex;
  }
  .tableParameterPercent .tableParameterPercentDescription {
    margin-right: 5px;
    color: #fff;
  }
  .tableParameterPercent .tableParameterPercentGraph {
    margin-right: 5px;
  }
  .tableParameterPercent .tableParameterPercentText {
    margin: auto 0;
  }
  .tableParameterIcon {
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }
  .tableParameterText {
    margin: auto 0;
    color: #fff;
  }
  .tableParameterUrl {
    color: #1B70F1;
    text-decoration: none;
  }
  .tableParameterContainerLeft {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    -o-border-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.231372549), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to bottom, rgba(49, 49, 49, 0), rgba(63, 63, 63, 0.231372549), rgba(49, 49, 49, 0)) 1;
    margin-right: 20px;
  }
  .tableParameterContainerLeft .tableParameterIconText {
    width: 100px;
    background: radial-gradient(rgba(85, 113, 254, 0.178), rgba(85, 113, 254, 0.11), rgba(85, 113, 254, 0.062), rgba(85, 113, 254, 0.032), rgba(85, 113, 254, 0) 72%);
  }
  .tableParameterContainer:hover {
    background-color: rgba(41, 40, 40, 0.3960784314);
  }
  .tableParameterContainerUrl {
    text-decoration: none;
  }
  .selectorDirectorContainer {
    display: flex;
    justify-content: center;
  }
  .selectorDirectorContainer .selectorDirectorBtn {
    display: flex;
    align-items: center;
    padding: 8px 25px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #1E1F25;
    color: white;
    font-size: 1.1rem;
    line-height: 1.7rem;
    transition: background-color 0.3s;
  }
  .selectorDirectorContainer .selectorDirectorBtn .selectorDirectorBtnIcon {
    margin-left: 8px;
    width: 12px;
  }
  .selectorDirectorContainer .selectorDirectorBtn:hover {
    background-color: #024185;
  }
  .selectorDirectorContainer .selectorDirectorBtn:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .selectorDirectorContainer .selectorDirectorBtn:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}/*# sourceMappingURL=reusableComponents.module.css.map */