$primary-color: #1E1F25
$second-color: #1B70F1

.menuContainer
  background-color: $primary-color
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
  display: flex
  align-items: center
  padding: 15px 200px

  .menuLogo
    color: white
    font-size: 1.5em
    margin-right: auto
    span:first-child
      color: $second-color

  .logoImage
    width: 40px // Можно задать необходимую ширину
    height: auto // Высота будет сохранять пропорции
    margin-right: 15px // Отступ справа для разделения лого и заголовка

  .navContainer
    display: flex
    justify-content: center
    flex-grow: 1

    .navItem
      color: white
      text-decoration: none
      padding: 12px 20px
      margin: 0 10px
      border-radius: 5px
      transition: background-color 0.3s, color 0.3s

      &:hover
        background-color: $second-color
        color: white
  .languageContainer
    display: flex
    flex-direction: row
    padding-left: 145px
    &:hover
      cursor: pointer
    img
      padding-top: 3px
      margin: 0 auto
      width: 20px
      height: 13px
      margin-left: 5px
    .textLanguage
      color: white
      font-weight: bold
      font-size: 1.1rem
