.menuContainer {
  background-color: #1E1F25;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 15px 200px;
}
.menuContainer .menuLogo {
  color: white;
  font-size: 1.5rem;
  margin-right: auto;
}
.menuContainer .menuLogo span:first-child {
  color: #1B70F1;
}
.menuContainer .logoImage {
  width: 40px;
  height: auto;
  margin-right: 15px;
}
.menuContainer .navContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.menuContainer .navContainer .navItem {
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  margin: 0 10px;
  border-radius: 5px;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s;
}
.menuContainer .navContainer .navItem:hover {
  background-color: #1B70F1;
  color: white;
}
.menuContainer .languageContainer {
  display: flex;
  flex-direction: row;
  padding-left: 130px;
}
.menuContainer .languageContainer:hover {
  cursor: pointer;
}
.menuContainer .languageContainer img {
  padding-top: 4px;
  margin: 0 auto;
  width: 15px;
  height: 10px;
  margin-left: 5px;
}
.menuContainer .languageContainer .textLanguage {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 1101px) and (max-width: 1440px) {
  .menuContainer {
    padding: 15px 100px;
  }
  .menuContainer .navContainer .navItem {
    font-size: 1rem;
    padding: 8px 10px;
    margin: 0 10px;
  }
  .menuContainer .languageContainer {
    padding-left: 105px;
  }
}
@media (min-width: 691px) and (max-width: 1100px) {
  .menuContainer {
    padding: 15px 50px;
    display: block;
  }
  .menuContainer .menuTopContainer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 10px;
  }
  .menuContainer .menuTopContainer .logoContainer {
    display: flex;
    align-content: center;
  }
  .menuContainer .menuTopContainer .logoContainer .menuLogo {
    margin: auto 0;
  }
  .menuContainer .menuTopContainer .languageContainer {
    padding-left: 105px;
  }
  .menuContainer .menuTopContainer .languageContainer .textLanguage {
    margin: auto 0;
  }
  .menuContainer .menuTopContainer .languageContainer img {
    margin: auto 0;
    padding-left: 3px;
    padding-bottom: 5px;
  }
  .menuContainer .navContainer {
    padding-top: 10px;
    border-top: 1px solid transparent;
    -o-border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(109, 108, 108, 0.6588235294), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(109, 108, 108, 0.6588235294), rgba(49, 49, 49, 0)) 1;
  }
  .menuContainer .navContainer .navItem {
    font-size: 1rem;
    padding: 8px 10px;
    margin: 0 10px;
  }
}
@media (min-width: 511px) and (max-width: 690px) {
  .menuContainer {
    padding: 15px 50px;
    display: block;
  }
  .menuContainer .menuTopContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
  }
  .menuContainer .menuTopContainer .logoContainer {
    display: flex;
    align-content: center;
  }
  .menuContainer .menuTopContainer .logoContainer .menuLogo {
    margin: auto 0;
  }
  .menuContainer .menuTopContainer .languageContainer {
    padding-left: 105px;
  }
  .menuContainer .menuTopContainer .languageContainer .textLanguage {
    margin: auto 0;
  }
  .menuContainer .menuTopContainer .languageContainer img {
    margin: auto 0;
    padding-left: 3px;
    padding-bottom: 5px;
  }
  .menuContainer .navContainer {
    padding-top: 10px;
    border-top: 1px solid transparent;
    -o-border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(109, 108, 108, 0.6588235294), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(109, 108, 108, 0.6588235294), rgba(49, 49, 49, 0)) 1;
  }
  .menuContainer .navContainer .navItem {
    font-size: 1rem;
    padding: 8px 10px;
    margin: 0 10px;
  }
}
@media (max-width: 510px) {
  .menuContainer {
    padding: 15px 20px;
    display: block;
  }
  .menuContainer .menuTopContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
  }
  .menuContainer .menuTopContainer .logoContainer {
    display: flex;
    align-content: center;
  }
  .menuContainer .menuTopContainer .logoContainer .menuLogo {
    margin: auto 0;
  }
  .menuContainer .menuTopContainer .languageContainer {
    padding-left: 0px;
  }
  .menuContainer .menuTopContainer .languageContainer .textLanguage {
    margin: auto 0;
  }
  .menuContainer .menuTopContainer .languageContainer img {
    margin: auto 0;
    padding-left: 3px;
    padding-bottom: 5px;
  }
  .menuContainer .navContainer {
    padding-top: 10px;
    border-top: 1px solid transparent;
    -o-border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(109, 108, 108, 0.6588235294), rgba(49, 49, 49, 0)) 1;
       border-image: linear-gradient(to right, rgba(49, 49, 49, 0), rgba(109, 108, 108, 0.6588235294), rgba(49, 49, 49, 0)) 1;
  }
  .menuContainer .navContainer .navItem {
    font-size: 0.9rem;
    padding: 5px 5px;
    margin: 0 5px;
  }
}/*# sourceMappingURL=Menu.module.css.map */