.topMoversSection {
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.topMoversSection::before {
  content: "";
  background-image: url("../../Images/BackGroundHero.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  z-index: -5;
}
.topMoversSection .topMoversContainer {
  margin: 0 auto;
}
.topMoversSection .topMoversContainer .topMoversHeader {
  margin-bottom: 30px;
  font-size: 3rem;
  color: white;
  font-weight: 600px;
  line-height: 4rem;
}
.topMoversSection .topMoversContainer .topMoversHeader span {
  color: #007bff;
}
.topMoversSection .topMoversContainer .topMoversCoinCard {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 700px;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0) 72%);
}

@media (min-width: 1441px) and (max-width: 1550px) {
  .topMoversSection {
    padding: 80px 200px;
  }
}
@media (min-width: 1101px) and (max-width: 1440px) {
  .topMoversSection {
    padding: 50px 100px;
  }
  .topMoversSection .topMoversContainer {
    width: 680px;
  }
  .topMoversSection .topMoversContainer .topMoversHeader {
    margin-bottom: 50px;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
@media (min-width: 691px) and (max-width: 1100px) {
  .topMoversSection {
    padding: 50px 50px;
  }
  .topMoversSection .topMoversContainer {
    width: 100%;
  }
  .topMoversSection .topMoversContainer .topMoversSelectorContainer {
    display: flex;
    justify-content: space-around;
  }
  .topMoversSection .topMoversContainer .topMoversHeader {
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-bottom: 50px;
  }
  .topMoversSection .topMoversContainer .topMoversCoinCard {
    ddisplay: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: 370px;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0) 72%);
  }
}
@media (min-width: 511px) and (max-width: 690px) {
  .topMoversSection {
    padding: 30px 20px;
  }
  .topMoversSection .topMoversContainer {
    width: 100%;
  }
  .topMoversSection .topMoversContainer .topMoversSelectorContainer {
    display: flex;
    justify-content: space-around;
  }
  .topMoversSection .topMoversContainer .topMoversHeader {
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 30px;
  }
  .topMoversSection .topMoversContainer .topMoversCoinCard {
    ddisplay: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: 480px;
  }
}
@media (max-width: 510px) {
  .topMoversSection {
    padding: 30px 20px;
  }
  .topMoversSection .topMoversContainer {
    width: 100%;
  }
  .topMoversSection .topMoversContainer .topMoversSelectorContainer {
    display: flex;
    justify-content: space-between;
  }
  .topMoversSection .topMoversContainer .topMoversHeader {
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 30px;
  }
  .topMoversSection .topMoversContainer .topMoversCoinCard {
    ddisplay: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: 480px;
  }
}/*# sourceMappingURL=TopMovers.module.css.map */